<h2></h2> 
<br>

<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" class="text-info">Id</th>
        <th scope="col" class="text-info">Title</th>
        <th scope="col" class="text-info">Author</th>
        <th scope="col" class="text-info">Genre</th>
        <th scope="col" class="text-info">Pages</th>
        <th scope="col" class="text-info">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="book">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.price }}</td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<button type="button" class="btn btn-outline-info" (click)="goBack()">Back</button>




