<h2>Create new book</h2>
<br>
<form [formGroup]="formBook">
  <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputTitle">TITLE</label>
        <input formControlName="title" placeholder="Insert title" class="form-control" id="inputTitle">
      </div>
      <div class="form-group col-md-6">
        <label for="inputAuthor">AUTHOR</label>
        <input formControlName="author" placeholder="Insert author" class="form-control" id="inputAuthor">
      </div>
  </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label formControlName="genre" class="input-group-text" for="inputGenre">GENRE</label>
      </div>
      <select class="custom-select" id="inputGenre">
        <option selected>Choose...</option>
        <option value="Business"> Business</option>
        <option value="Programming">Programming</option>
        <option value="Fiction">Fiction</option>
        <option value="Thriller">Thriller</option>
        <option value="Non-Fiction">Non-Fiction</option>
        <option value="Romance">Romance</option>
        <option value="Horror">Horror</option>
        <option value="Travel">Travel</option>
      </select>
    </div>
  <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPages">PAGES</label>
        <input type="number" formControlName="pages" class="form-control" id="inputPages">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPrice">PRICE</label>
        <input type="number" formControlName="price"  class="form-control" id="inputPrice">
      </div>
  </div>
  <br>
  <button  type="button" class="btn btn-outline-info" (click)="save();">Save</button>
</form>


