<h2></h2>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-info">Title</th>
                <th scope="col" class="text-info">Author</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngFor="let book of books; trackBy: trackById">
            <tr scope="row">
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>
                    <span>
                        <button type="button" class="btn btn-outline-info"    [routerLink]="['details/', book.id]"> DETAILS</button>
                    </span>
                    <span>
                        <button type="button" class="btn btn-outline-info" [routerLink]="['update/', book.id]" style="margin-left: 20px;"> UPDATE</button>
                    </span>
                    <span>
                        <button type="button" class="btn btn-outline-info" (click)="delete(book)" style="margin-left: 20px;"> DELETE </button>
                    </span>                     
                </td>
            </tr>
        </tbody>    
    </table>
</div>

<br>
<button type="button" class="btn btn-outline-info" (click)="load()">LOAD BOOKS</button>
