<h2>Update Book</h2>

<div *ngIf="book">
  <form >
    <div class="form-group">
      <label for="name">Author</label>
      <input type="text" class="form-control" id="author"  [(ngModel)]="book.author" name="author">
    </div>

    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="title"  [(ngModel)]="book.title" name="title">
    </div>

    <div class="form-group">
      <label for="name">Genre</label>
      <input type="text" class="form-control" id="genre"  [(ngModel)]="book.genre" name="genre">
    </div>

    <div class="form-group">
        <label for="name">Pages</label>
        <input type="text" class="form-control" id="pages"  [(ngModel)]="book.pages" name="pages">
      </div>

      <div class="form-group">
        <label for="name">Price</label>
        <input type="text" class="form-control" id="price"  [(ngModel)]="book.price" name="price">
      </div>

  

    <button (click)="onSubmit()" type="button" class="btn btn-outline-info">Submit</button>
  </form>
</div>
