<h2> About this web application</h2>
<div id="content" class="border border-info rounded">
    <img class="img-float-angular" src="assets/images/angular.png" alt="angular logo">
    <img class="img-float-spring" src="assets/images/spring-boot.png" alt="spring boot logo">
    <p>
        This project is a Book Management System, using Spring Boot 2 and Angular 9.<br>
        It's a end-to-end web application with a connectivity to Oracle database. <br>
        Back end application is a RESTful web services using Spring Boot 2. <br>
        It performs all the CRUD operations:       
    </p>
    <ul>
        <li>create a book</li>
        <li>read a single book or a list of books</li>
        <li>delete a book</li>  
        <li>update a book </li>  
    </ul>
    <h6> Back End Technologies used</h6>
    <ul>
        <li>Java 8</li>
        <li> Spring Boot 2.3.3</li>
        <li>Spring Data JPA</li>
        <li>Maven 4</li>
        <li>Hibernate 5</li>
        <li> Tomcat 9</li>
        <li> Oracle 11g</li>
        <li> SLF4J </li>  
    </ul>
    <h6>Front End Technologies used</h6>
    <ul>
        <li>Angular 9</li>
        <li>Angular CLI</li>
        <li>Bootstrap 4</li>
    </ul>
    <h6>End Points</h6>
    <ul>
        <li>GET /books</li>
        <li>GET /books/&#123;bookid&#125;</li>
        <li>POST /books</li>
        <li>PUT /books/&#123;bookid&#125;</li>
        <li>PATCH /books/&#123;bookid&#125;</li>
        <li>DELETE /books/&#123;bookid&#125;</li>
    </ul>
</div>